<h2>FAQs (Frequently Asked Questions)</h2>
<br />
<h3>General</h3>
<p><%= link_to "FAQ 1", "#" %></p>
<p><%= link_to "FAQ 2", "#" %></p>
<p><%= link_to "FAQ 3", "#" %></p>
<h3>Topic 1</h4>
<p><%= link_to "FAQ 1", "#" %></p>
<p><%= link_to "FAQ 2", "#" %></p>
<p><%= link_to "FAQ 3", "#" %></p>
<%= render "help/footer" %>

