<h2>Help Index</h2>
<br />
<p><%= link_to "FAQs (Frequently Asked Questions)", "FAQ_index" %></p>
<p><%= link_to "Terms of Service", "terms_of_service" %></p>
<h3>User Guide</h3>
<p><%= link_to "Sign Up", "sign_up" %></p>
<p><%= link_to "Log In", "log_in" %></p>
<p><%= link_to "Sorting", "sorting" %></p>
<p><%= link_to "Filtering & Searching", "filtering_searching" %></p>
<p><%= link_to "Creating New Records", "creating_new_records" %></p>
<p><%= link_to "Editing Records", "editing_records" %></p>
<p><%= link_to "Deleting Records", "deleting_records" %></p>
<p><%= link_to "Exporting Your Data", "exporting_your_data" %></p>
<p><%= link_to "Changing Your Password or Email", "changing_your_profile" %></p>
<p><%= link_to "Cancelling Your Account", "cancelling_your_account" %></p>
