<h2>Help Index</h2>
<br />
<p><%= link_to "FAQs (Frequently Asked Questions)", "FAQ_index" %></p>
<p><%= link_to "Terms of Service", "terms_of_service" %></p>
<p><%= link_to "License Information", "MIT-LICENSE" %></p>
<h3>User Guide</h3>
<p><%= link_to "Sign Up", "sign_up" %></p>
<p><%= link_to "Log In", "log_in" %></p>
<p><%= link_to "Log Out", "log_out" %></p>
<p><%= link_to "Sort Data", "sorting" %></p>
<p><%= link_to "Filter & Search", "filtering_searching" %></p>
<p><%= link_to "Create New Records", "creating_new_records" %></p>
<p><%= link_to "Edit Records", "editing_records" %></p>
<p><%= link_to "Delete Records", "deleting_records" %></p>
<p><%= link_to "Export Your Data", "exporting_your_data" %></p>
<p><%= link_to "Change Your Password or Email", "changing_your_profile" %></p>
<p><%= link_to "Cancel Your Account", "cancelling_your_account" %></p>
