<div class = "col-md-4">
  <p><%= image_tag("bsecure.jpg", :alt => "Password manager with AES encryption") %></p>
  <p><b>bSecure for Web version 1 (rev001)</b></p>
  <p>Copyright &copy; 2015 <%= link_to "Henry Schaumburger", "http://www.apcp.biz",target: "_blank"  %></p>
  <p><%= link_to "Terms of Service", "/help/terms_of_service" %></p>
  <p><%= link_to "License Information", "/help/MIT-LICENSE" %></p>
  <p><%= link_to "GitHub Repository", "https://github.com/per4mnce/bSecure", target: "_blank" %></p>
</div> <!-- col-md-4-->
<div class = "col-md-8">
  <p>Use bSecure to safely store sensitive and important information like web logins, passwords, credit card numbers and 
  any other data you want quick, easy access to. Features include:</p><br />
  <div class="row">
    <div class = "col-md-4">
      <p>- <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">AES-256 encryption</a></p>
      <p>- Your PIN is required to decrypt</p>
      <p>- Your PIN is not stored by us</p>
    </div>
    <div class = "col-md-4">
      <p>- Easy To Use</p>
      <p>- Searching and Sorting</p>
      <p>- Filtering</p>
    </div>
    <div class = "col-md-4">
      <p>- Password Genertor</p>
      <p>- Export to CSV</p>
      <p>- <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a> text formatting</p>
    </div>
  </div> <!-- row-->
  <p></p>
  <h3>Credits</h3>
  <p>The following Ruby Gems are used in this application.
  bSecure would not have been possible without the significant contributions of the following authors.</p>
  <ul>
    <li><a href="https://rubygems.org/gems/attr_encrypted" target="_blank">attr_encrypted (Encryption) - Copyright (c) 2008 Sean Huber - shuber@huberry.com</a></li>
    <li><a href="https://rubygems.org/gems/bootstrap-sass" target="_blank">bootstrap-saas (UI formatting) - Copyright (c) 2013-2015 Twitter, Inc</a></li>
    <li><a href="https://rubygems.org/gems/bootswatch-rails" target="_blank">bootswatch-rails (UI themes) - Copyright (c) 2012 Maxim Chernyak</a></li>
    <li><a href="https://rubygems.org/gems/capybara" target="_blank">capybara (Testing) - Copyright (c) 2009-2012 Jonas Nicklas</a></li>
    <li><a href="https://rubygems.org/gems/devise/versions/3.5.2" target="_blank">devise (Authentication) - Copyright (c) 2009-2015 Plataformatec. http://plataformatec.com.br</a></li>
    <li><a href="https://rubygems.org/gems/faker" target="_blank">faker (Test data generation) - Copyright (c) 2007-2010 Benjamin Curtis</a></li>
    <li><a href="https://rubygems.org/gems/figaro" target="_blank">figaro (Configuration) - Copyright (c) 2012 Steve Richert</a></li>
    <li><a href="https://rubygems.org/gems/font-awesome-sass" target="_blank">font-awesome-sass - (Font & CSS toolkit) - Copyright (c) 2013 Travis Chase</a></li>
    <li><a href="https://rubygems.org/gems/redcarpet" target="_blank">redcarpet (Markdown parser) - Copyright (c) 2009, Natacha Porté, Copyright (c) 2015, Vicent Marti</a></li>
    <li><a href="https://rubygems.org/gems/rspec-rails" target="_blank">rspec-rails (Testing framework) - Copyright © 2015 David Chelimsky, Aaron Kromer</a></li>
    <li><a href="https://rubygems.org/gems/table_print" target="_blank">table_print (Data reporting and formatting) - Copyright (c) 2013 Chris Doyle</a></li>
    <li><a href="https://rubygems.org/gems/wice_grid" target="_blank">wice_grid (Smart Tables) - Copyright (c) 2008-2014 Yuri Leikind</a></li>
  </ul>
  <h3>My Rails Mentor</h3>
  <p>I would like to sincerely thank <a href="https://www.bloc.io/mentors/chris-beck" target="_blank">Chris Beck</a> from <a href="https://www.bloc.io" target="_blank">BLOC</a> for all his tireless help and support.</p>
</div> <!-- col-md-8-->