<!--Used in Edit and New Views-->
<%= form_for @secret do |f| %>
  <div class="form-group">
    <%= f.label 'Type' %> <em>(Required, Not encrypted)</em><br/>
    <%= f.select :catname, ["Password", "CreditCard", "SerialNumber", "WebLogin", "Other"], class: 'form-control',autofocus: true, include_blank: true %> <br />

    <%= f.label 'Description' %> <em>(Required, Not encrypted)</em><br />
    <%= f.text_field :description,                 class: 'form-control', placeholder: "Enter the description", id: "Description" %>
    
    <%= f.label :username %>
    <%= f.text_field :username,                    class: 'form-control', placeholder: "Enter the username", id: "Username" %>
    
    <%= f.label 'Password' %>
    <%= f.text_field :pw,                          class: 'form-control', placeholder: "Enter the password", id: "Password" %>
    
    <%= f.label :url %>
    <%= f.text_field :url,                         class: 'form-control', placeholder: "Enter the URL", id: "Url" %>
    
    <%= f.label :notes %>
    <%= f.text_area :notes,                        class: 'form-control', placeholder: "Enter notes content", size: "25x3", id: "Notes" %>
    
    <p><a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">[Markdown Help]</a> - **bold** _italic_ `code` >quote * - bullet list  </p>
  </div>
  <%= f.submit "Save", class: 'btn btn-primary' %>
  <%= link_to "Cancel", secrets_path, class: 'btn btn-default' %>

<% end %>

