  <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Username</th>
      <th>Password</th>
      <th>URL</th>
      <th>Notes</th>
    </tr>
    <% @secrets.each do |secret| %>
      <tr>
        <td>
          <%= link_to secret.catname, secret %>
        </td>
        <td>
          <%= secret.description %>
        <td>
          <%= secret.username %>
        </td>
        <td>
          <%= secret.pw %>
        </td>
        <td>
          <%= secret.url %>
        </td>
        <td>
          <%= secret.notes %>
        </td>
      </tr>
    <% end %>
  </table>
<%= link_to "New Secret ", new_secret_path, class: 'btn btn-primary' %>
<div>