<% if @secret %>
<div>
  <p><%= @secret.catname %></p>
  <p><%= @secret.description %></p>
  <p><%= @secret.username %></p>
  <p><%= @secret.pw %></p>
  <p><%= @secret.url %></p>
  <p><%= @secret.notes %></p>
</div>
<% else %>
  <p>I couldn't find that record in your list.</p>
<% end %> 
  <%= link_to "Edit", edit_secret_path, class: 'btn btn-success' %>
<%= link_to "Delete", @secret, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this record?' } %>



